@model IEnumerable<Application.DTOs.AttendeeListDTO>

    @{
    ViewData["Title"] = "Attendees";
    }

    <h1>Attendees</h1>
    <p><a asp-action="Create" class="btn btn-primary">Create New</a></p>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model)
    {
            <tr>
                <td>@a.Name</td>
                <td>@a.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@a.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@a.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
